.backgroundPlanche {
	background-image: url(../backgroundtext.jpg);
	height: 700px;
	border-radius: 50px;	
}
#btn{
	border-radius: 25px; background-color: #303030; width: 600px;
	color: white; position: relative; 
}